In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("AWCustomers.csv")

In [5]:
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [6]:
df

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,NaN,Grace,C,Bailey,NaN,6627 Camelback Ct.,NaN,Coronado,California,...,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953,2017-03-06
18357,11459,NaN,Tasha,NaN,Deng,NaN,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,...,Bachelors,Skilled Manual,F,S,0,2,0,0,60992,2017-03-06
18358,12160,NaN,Jaclyn,NaN,Zhang,NaN,4364 Viera Avenue,NaN,Beaverton,Oregon,...,Partial College,Skilled Manual,F,S,0,2,0,0,51859,2017-03-06
18359,14353,NaN,Erin,I,Reed,NaN,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,...,High School,Clerical,F,S,0,0,0,0,87177,2017-03-06
18360,16676,NaN,Amanda,NaN,Perry,NaN,7870 Orangewood Dr.,NaN,Grossmont,California,...,Graduate Degree,Professional,F,M,1,2,0,0,136856,2017-03-06

In [7]:
to_remove = ['Title', 'AddressLine1','AddressLine2','Suffix','City','LastUpdated','PhoneNumber','MiddleName','LastName']
df = df.drop(to_remove, axis=1)

In [8]:
df.head()

,CustomerID,FirstName,StateProvinceName,CountryRegionName,PostalCode,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,21173,Chad,New South Wales,Australia,2500,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,81916
1,13249,Ryan,British Columbia,Canada,V9B 2C3,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,81076
2,29350,Julia,California,United States,91791,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,86387
3,13503,Theodore,England,United Kingdom,L4 4HB,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,61481
4,22803,Marshall,Nordrhein-Westfalen,Germany,59368,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,51804

In [9]:
classification = {'discrete' : ['CustomerID','NumberCarsOwned','NumberChildrenAtHome','TotalChildren'],
'continous' : ['YearlyIncome'],
'nominal' : ['HomeOwnerFlag','FirstName','StateProvinceName','CountryRegionName','Gender','MaritalStatus','PostalCode'],
'ordinal' : ['Education'],
'interval' : ['BirthDate'],
'ratio' : ['YearlyIncome','NumberChildrenAtHome','TotalChildren']
}

In [10]:
df.isnull()

,CustomerID,FirstName,StateProvinceName,CountryRegionName,PostalCode,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18357,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18358,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18359,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18360,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
pd.isna(df)

,CustomerID,FirstName,StateProvinceName,CountryRegionName,PostalCode,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18357,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18358,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18359,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18360,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
to_remove = ['CustomerID', 'FirstName', 'StateProvinceName', 'CountryRegionName', 'PostalCode']
df_new = df.drop(to_remove, axis=1)

In [13]:
df_new.head()

,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,81916
1,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,81076
2,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,86387
3,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,61481
4,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,51804

In [16]:
df_new.dtypes

BirthDate               object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag            int64
NumberCarsOwned          int64
NumberChildrenAtHome     int64
TotalChildren            int64
YearlyIncome             int64
dtype: object

In [19]:
for col in df_new.columns:
  if df_new[col].dtype == "object":
    df_new[col] = df_new[col].fillna(df_new[col].mode()[0])
  else:
    df_new[col] = df_new[col].fillna(df_new[col].median())

In [26]:
df_new["BirthDate"] = pd.to_datetime(df_new["BirthDate"], errors="coerce")

# Compute Age
reference_year = 2017
df_new["Age"] = reference_year - df_new["BirthDate"].dt.year

df_new[["BirthDate", "Age"]].head()

   BirthDate  Age
0 1987-11-13   30
1 1972-07-21   45
2 1985-11-09   32
3 1977-10-18   40
4 1975-02-05   42

In [27]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_new[["Age_norm","Income_norm"]] = scaler.fit_transform(df_new[["Age","YearlyIncome"]])

In [29]:
df_new.head()

,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,Age,Age_norm,Income_norm
0,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,81916,30,0.185714,0.496842
1,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,81076,45,0.400000,0.489453
2,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,86387,32,0.214286,0.536172
3,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,61481,40,0.328571,0.317083
4,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,51804,42,0.357143,0.231958